<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     turma
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img class="leopp"
  src="../assets/leonardoj.jpg"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>
<ion-content class="ion-padding">
  
  <h4>Leonardo John Ferreira</h4>
  <h4>código da turma:GPAS0015</h4>
</ion-content>
  
  
</ion-content>
